{% extends 'base.html.twig' %}

{% block title %}Title{% endblock %}

{% block body %}

        <p>Id = {{ user.id }}</p>
        <p>Nom = {{ user.name }}</p>
        <p>Genre = {{ user.gender }}</p>
        <p>Couleur des yeux = {{ user.eyesColor }}</p>

{% endblock %}
